{% extends 'navigation/editables/editable.html' %}

{% block title%}Location View{% endblock %}

{% block links %}
<!-- jQuery Link -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename='editable/location/location.css')}}">
{% endblock %}

{% block editable %}
    <!-- Location Container -->
    <div class="location_container">
        <div id="header">
            <h1>{{editable.name}}</h1>
            {{ super() }}
        </div>

        <div id="location">
            {% if image %}
            <img src="{{url_for('api.image_retrieve', image_id=image.image_id)}}" alt="">
            {% endif %}
            <div class="details">
                <div class="description">
                    <h2>Description</h2>
                    {% autoescape false %}
                    {{editable.description}}
                    {% endautoescape %}
                </div>

                <br>

                {% if editable.parent %}
                    <a href="{{url_for('navi.location_page', location_id=editable.parent.id)}}">Parent Location: {{editable.parent.name}}</a>
                {% else %}
                    <p>No given Parent Location.</p>
                {% endif %}

                <br>

                <div class="child_locations">
                    <p>Child Locations: <br>
                    {% if editable.children %}
                        {% for location in editable.children %}
                            <li><a href="{{url_for('navi.location_page', location_id=location.id)}}">{{location.name}}</a></li>
                        {% endfor %}
                    {% else %}
                        No given Children Locations.
                    {% endif %}
                    </p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock%}

{% block edit_name %}
    {{editable.name}}
{% endblock%}

{% block script %}
    <script>
        $(function () {
            document.getElementById('edit_ref').href = "{{url_for('navi.location_edit', location_id = editable.id)}}"

            $('#delete').on('click', function(){
                $.ajax({
                    url: '/api/delete_editable',
                    method: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json',
                    data:JSON.stringify({
                        id: "{{editable.id}}"
                    })
                }).always(function (data) {
                    window.location.replace(`{{url_for('navi.index')}}`);
                });
            });
        });
    </script>
{% endblock %}

