{% extends 'navigation/editables/editable.html' %}

{% block title%}Item View{% endblock %}

{% block links %}
<!-- jQuery Link -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename='item.css')}}">
{% endblock %}

{% block editable %}
    <!-- Item Container -->
    <div class="item_container">
        <p><span style="font-weight: bold; text-decoration: underline;" > {{editable.name}} </span></p>
        {{ super() }}
        <br>

        {% if image %}
        
        <img src="{{url_for('api.image_retrieve', image_id=image.image_id)}}" style="height: 400px; width: 400px; object-fit: cover;" alt="">
        
        {% endif %}
        
        
        <p></p>
        {% autoescape false %}
        <br>
        {{editable.description}}
        {% endautoescape %}
        <br>
    </div>
{% endblock%}

{% block edit_name %}
    {{editable.name}}
{% endblock%}

{% block script %}
    <script>
        $(function () {
            document.getElementById('edit_ref').href = "{{url_for('navi.item_edit', item_id = editable.id)}}"

            $('#delete').on('click', function(){
                $.ajax({
                    url: '/api/delete_editable',
                    method: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json',
                    data:JSON.stringify({
                        id: "{{editable.id}}"
                    })
                }).always(function (data) {
                    window.location.replace(`{{url_for('navi.index')}}`);
                });
            });
        });
    </script>
{% endblock %}

