{% extends 'base.html' %}

{% block title %}familiar Edit{% endblock %}

{% block links%}
<!-- TinyMCE links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.2.0/tinymce.min.js" integrity="sha512-tofxIFo8lTkPN/ggZgV89daDZkgh1DunsMYBq41usfs3HbxMRVHWFAjSi/MXrT+Vw5XElng9vAfMmOWdLg0YbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.2.0/plugins/emoticons/plugin.min.js" integrity="sha512-G42q3WE7uNjJHFlnBQdFxo3pjbv9lCBy9dctoscYJfSnyh2Bcek3z/90dAJrO442jj+/FuXt037KIs+Nz60A4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- jQuery/UI links -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!-- Internal stying links -->
<link rel="stylesheet" href="{{url_for('static', filename='editable/edit.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='image_sort.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='editable/familiar/familiar_edit.js')}}"></script>
{% endblock %}

{% block content %}

    {% if familiar %}
    <div id="familiar_page" data-familiar_url="{{url_for('navi.familiar_page', familiar_id = familiar.id)}}"></div>
    {% endif %}

    {% block form %}
        <form method="post" id="familiar_form">

            <!-- Name -->
            <label for="name">Name</label>
            <input name="name" id="name" value="{{familiar.name if familiar else ''}}" placeholder="Your familiar Name" required>
            <input name="familiar_id" id="familiar_id" type="text" value="{{familiar.id if familiar else ''}}" hidden>
            
            <hr>

            <div id="image_container">
                <label for="images">Images</label>
                <div id="image_list">
                    <ul id="sortable">
                        {% for image in familiar.images %}
                            <img src="{{url_for('api.image_retrieve', image_id=image.image_id)}}" data-editable_id="{{image.image_id}}" alt="">
                        {% endfor %}
                    </ul>
                </div>

                <div id="image_selection">
                </div>

                <button id="select_images" type="button">
                    Select Images
                </button>
            </div>

            <hr>

            <!-- Description -->
            <p>Description</p>
            <div id="text_editor" style="display: flex; justify-content:center; padding: 5vh 0 5vh 0">
                <div id="text_box" style="width: 90vw; height: 50vh; box-shadow: -2px 6px 43px 26px rgba(62,65,72,0.18);
                -webkit-box-shadow: -2px 6px 43px 26px rgba(62,65,72,0.18);
                -moz-box-shadow: -2px 6px 43px 26px rgba(62,65,72,0.18);">
                    <textarea id="description">Description Text</textarea>
                </div>
            </div>

            <hr>

            <!-- Location -->
            <div id="location_selection">
                <label for="location">Location</label>
                <input type="text" name="location" id="location_input" value="{{familiar.location.name if familiar.location else ''}}">
                <input type="text" name="location_id" id="location_id" value="{{familiar.location.id if familiar.location else ''}}" hidden>
            </div>

            <hr>

            <!-- Character Owner -->
            {% if familiar %}
            <div id="character_owner_selection">
                <label for="character_owner">Character Owner</label>
                <input type="text" name="character_owner" id="character_owner_input" value="{{familiar.owners[0].name if familiar.owners[0] else ''}}">
                <input type="text" name="character_owner_id" id="character_owner_id" value="{{familiar.owners[0].id if familiar.owners[0] else ''}}" hidden>
            </div>
            {% else %}
            <div id="character_owner_selection">
                <label for="character_owner">Character Owner</label>
                <input type="text" name="character_owner" id="character_owner_input" value="">
                <input type="text" name="character_owner_id" id="character_owner_id" value="" hidden>
            </div>
            {% endif %}
            <hr>

            <!-- Trait Selection -->
            <div id="trait_selection">
                <label for="traits">Traits</label>
                
                {% for trait in familiar.traits %}
                <div class="trait">
                    <input type="text" name="single_trait" class="single_trait" value="{{trait.name if trait.name else ''}}" placeholder="Trait">
                    <input type="text" name="single_trait_desc" class="single_trait_desc" value="{{trait.short_description if trait.short_description else ''}}" placeholder="Short Description">
                    <button type="button" class="remove_trait remove">-</button>
                </div>
                {% endfor %}

                {% if not familiar.traits %}
                <div class="trait">
                    <input type="text" name="single_trait" class="single_trait" placeholder="Trait">
                    <input type="text" name="single_trait_desc" class="single_trait_desc" placeholder="Short Description">
                    <button type="button" class="remove_trait remove">-</button>
                </div>
                {% endif %}

                <button type="button" id="add_trait">Add Trait</button>
            </div>

            <hr>

            <!-- Stat Selection -->
            <div id="stat_selection">
                <label for="stats">Stats</label>
                {% for stat in familiar.stats %}
                <div class="stat">
                    <input type="text" name="single_stat" class="single_stat" value="{{stat.name if stat.name else ''}}" placeholder="Stat">
                    <input type="text" name="single_stat_desc" class="single_stat_desc" value="{{stat.short_description if stat.short_description else ''}}" placeholder="Short Description">
                    <button type="button" class="remove_stat remove">-</button>
                </div>
                {% endfor %}

                {% if not familiar.stats %}
                <div class="stat">
                    <input type="text" name="single_stat" class="single_stat" placeholder="Trait">
                    <input type="text" name="single_stat_desc" class="single_stat_desc" placeholder="Short Description">
                    <button type="button" class="remove_stat remove">-</button>
                </div>
                {% endif %}

                <button type="button" id="add_stat">Add Stat</button>
            </div>

            <hr>
            
            <!-- Relationship Selection -->
            <div id="relationship_selection">
                <label for="relationships">Relationships</label>
                {% for relationship in familiar.relationships %}
                <div class="relationship">
                    <input type="text" name="single_relationship" class="single_relationship" value="{{relationship.name if relationship.name else ''}}" placeholder="Relationship">
                    <input type="text" name="relationship_character" class="relationship_character" value="{{relationship.character.name if relationship.character else ''}}" placeholder="Character">
                    <input type="text" name="relationship_character_id" class="relationship_character_id" value="{{relationship.character.id if relationship.character else ''}}" hidden>
                    <input type="text" name="single_relationship_desc" class="single_relationship_desc" value="{{relationship.short_description if relationship.short_description else ''}}" placeholder="Short Description">
                    <button type="button" class="remove_relationship remove">-</button>
                </div>
                {% endfor %}

                {% if not familiar.relationships %}
                <div class="relationship">
                    <input type="text" name="single_relationship" class="single_relationship" placeholder="Relationship">
                    <input type="text" name="relationship_character" class="relationship_character" placeholder="Character">
                    <input type="text" name="relationship_character_id" class="relationship_character_id" hidden>
                    <input type="text" name="single_relationship_desc" class="single_relationship_desc" placeholder="Short Description">
                    <button type="button" class="remove_relationship remove">-</button>
                </div>
                {% endif %}

                <button type="button" id="add_relationship">Add Relationships</button>
            </div>

            <hr>

            <!-- Inventory Selection -->
            <div id="inventory_selection">
                <label for="inventory">Inventory</label>
                {% for inventory in familiar.inventories %}
                <div class="inventory">
                    <input type="text" name="single_inventory" class="single_inventory" value="{{inventory.name if inventory.name else ''}}" placeholder="Inventory">
                    <button type="button" class="remove_inventory remove">-</button>
                </div>
                {% endfor %}

                {% if not familiar.inventories %}
                <div class="inventory">
                    <input type="text" name="single_inventory" class="single_inventory" placeholder="Inventory">
                    <button type="button" class="remove_inventory remove">-</button>
                </div>
                {% endif %}

                <button type="button" id="add_inventory">Add Inventory</button>
            </div>

            <hr>

            <!-- Editor Selection -->
            <div id="editor_selection">
                <label for="editor">Editor</label>
                {% for editor in familiar.editors %}
                <div class="editor">
                    <input type="text" name="single_editor" class="single_editor" value="{{editor.name if editor.name else ''}}" placeholder="Editor">
                    <input type="text" name="editor_id" id="editor_id" value="{{editor.id}}" hidden>
                    <button type="button" class="remove_editor remove">-</button>
                </div>
                {% endfor %}

                {% if not familiar.editors %}
                <div class="editor">
                    <input type="text" name="single_editor" class="single_editor" placeholder="Editor">
                    <input type="text" name="editor_id" id="editor_id" hidden>
                    <button type="button" class="remove_editor remove">-</button>
                </div>
                {% endif %}

                <button type="button" id="add_editor">Add Editor</button>
            </div>

        </form>
    {% endblock %}

    <hr>

    <div class="options">
    {% block options %}
        <button id="confirm" type="button">Confirm</button>

        <a href="{{url_for('navi.create')}}">
            <button id="discard">Discard</button>
        </a>
    {% endblock %}
    </div>

    <div id="hidden_description" hidden>
        {% autoescape false %}
            {{familiar.description if familiar else 'Description Text Here'}}
        {% endautoescape %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}