{% extends 'navigation/editables/editable.html' %}

{% block title%}Character View{% endblock %}

{% block links %}
<!-- jQuery Link -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
{% endblock %}

{% block editable %}
    <!-- Character Container -->
    <div class="character_container">
        <p>Name: {{familiar.name}}</p>

        {% if image %}
        <img src="{{url_for('api.image_retrieve', image_id=image.image_id)}}" style="height: 100px; width: 100px; object-fit: cover;" alt="">
        {% endif %}
    
        <p>Description: </p>
        
        {% autoescape false %}
        {{familiar.description}}
        {% endautoescape %}
    
        {% if familiar.location %}
            <a href="{{url_for('navi.location_page', location_id=editable.location.editable_id)}}"> Location: {{editable.location.name}}</a>
        {% else %}
            <p> Location: No Set Location </p>
        {% endif %}
    
        {% if familiar.familiars %}
            <div class="familiars">
                <p>Familiars:
                {% for familiar in familiar.familiars %}
                    <a href="{{url_for('navi.familiar_page', familiar_id=familiar.editable2_id)}}"> Familiar: {{familiar.name}}</a>,
                {% endfor %}
                </p>
            </div>
        {% endif %}
        <br>
        <div class="traits">
            <p>Traits: <br>
            {% if familiar.traits %}
                {% for trait in familiar.traits %}
                    {{trait.name}}:  {{trait.short_description}} <br>
                {% endfor %}
            {% else %}
                No given Traits.
            {% endif %}
            </p>
        </div>
        <br>
    
        <div class="stats">
            <p>Stats:<br>
                {% if familiar.stats %}
                    {% for stat in familiar.stats %}
                    {{stat.name}}:  {{stat.short_description}} <br>
                    {% endfor %}
                {% else %}
                    No given Stats.
                {% endif %}
            </p>
        </div>
        <br>
    
        <div class="relationships">
            <p>Relationships:
                {% if familiar.relationships %}
                    {% for relationship in familiar.relationships %}
                        {{relationship}},
                    {% endfor %}
                {% else %}
                    No given Relationships.
                {% endif %}
            </p>
        </div>
    </div>
{% endblock%}

{% block edit_name %}
    {{familiar.name}}
{% endblock%}

{% block script %}
    <script>
        $(function () {
            document.getElementById('edit_ref').href = "{{url_for('navi.character_edit', character_id = familiar.editable2_id)}}"

            $('#delete').on('click', function(){
                $.ajax({
                    url: '/api/delete_editable',
                    method: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json',
                    data:JSON.stringify({
                        editable2_id: "{{familiar.id}}"
                    })
                }).always(function (data) {
                    window.location.replace(`{{url_for('navi.index')}}`);
                });
            });
        });
    </script>
{% endblock %}