{% extends 'base.html' %}

{% block links%} 
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script type="text/javascript" src="{{url_for('static', filename='admin.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='user/admin.css')}}"> 
{%endblock%}

{% block title %} {{user.name}}'s Admin Panel{% endblock %}

{% macro list_editables(iterator) -%}
    {% for element in iterator %}
        {% if element.type == 'editable' %}
            <li><a href="{{url_for('navi.character_page', character_id=element.id)}}">Results: {{element.name}}</a>
        {% endif %}
    {% endfor %}
{% endmacro -%}

{% block content %}
    <div class="admin_container">
        <div class="user_container">
            <div class="user_info">
                <img src="{{url_for('static',filename='images/empty_scroll.png')}}">
                <div id="text">
                    <h1>{{ user.name }}</h1>
                </div>
            </div>
        </div>
        <div class = "search_menu">
            <form method="post" id="search_form">
                <div class="ui-widget-tag">
                  <label for="tags">Tags: </label>
                  <input id="tags" name="tags">
                  <input id="name_id" hidden>
                  <button id="search", type="button">🔍</button>
                </div>
            </form>
              


        </div>
    </div>

    <div class="public_characters">
        <p>Results:</p>
        {{list_editables(editable)}}
    </div>
{%endblock%}