{% macro list_editables(iterator) -%}
    {% for element in iterator %}
        {% if element.type == 'character' %}
            <li><a href="{{url_for('navi.character_page', character_id=element.id)}}">Character: {{element.name}}</a>
        {% endif %}
        {% if element.type == 'location' %}
        <li><a href="{{url_for('navi.location_page', location_id=element.id)}}">Location: {{element.name}}</a>
        {% endif %}
    {% endfor %}
{% endmacro -%}

{% if characters %}
<div class="public_characters">
    <p>Public Characters</p>
    {{ list_editables(characters) }}
</div>
{% endif %}

{% if locations %}
<div class="public_locations">
    <p>Public Locations</p>
    {{ list_editables(locations) }}
</div>
{% endif %}