div#inventory_container{
    display: grid;
    justify-items: center;
}

div#inventory{
    display: flex;
    justify-content: center;
}

div#inventory_items{
    width: 80vw;
    height: auto;

    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    
    justify-items: center;
}

div.item{
    width: 10vw;
    height: 10vw;
}

div.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit_options{
    justify-self: center;
    margin: 0.5em 0 0 0;
}

.edit_options button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.details{
    margin: 1rem 0 0 0;
    font-style: oblique;
}