.owns{
    margin: 2rem 0 0 2rem;
}

.owns li{
    list-style-type: none;
    margin: 0 0 0 1rem
}

.homepage{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 7em;
    font-family: papyrus, fantasy;
    margin: 0 4rem 0 0;
}
img {
    width: 30vw;
    object-fit:contain;
}

