
.user_container{
    display: grid;
    grid-template-areas: 
            "user_name user_name"
            "user_owns user_edit_perm";
    
}

.user_info{
    grid-area: user_name;
    justify-self: center;
    padding: 1em 0 0 0;
    width: 100%;
}