#item_container {
    height: auto;
    width: 100vw;
}

#sortable {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0 10vw 0 10vw;
    width: 100vw;
}

.item {
    margin-right: 1em;
    margin-bottom: 1em;
    width: 5em;
    height: 5em;
    float: left;
}

.item>* {
    display: inline-block;
}

.item>img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.counter{
    display: flex;
    width: 100%;
}
.counter>input{
    width: 2em;
}

#description {
    display: block;
    width: 100vw;
}

div.image_grid, div.item_grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 20%));
    grid-auto-rows: 1fr;
    gap: 1em;
}

div.image_div, div.item_div {
    display: flex;
    background-color: rgb(51, 196, 228);
    border-radius: 0.5em;
}

div.image_div>img, div.item_div>img {
    grid-area: image;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

div.image_div>p, div.item_div>p{
    padding: 0px;
    margin: 0px;
    grid-area: select;
}