.user_container{
    display: grid;
    grid-template-areas: 
            "user_name user_name"
            "user_owns user_edit_perm";
    
}

.user_info{
    grid-area: user_name;
    justify-self: center;
    padding: 1em 0 0 0;
    width: 100%;
}

.user_info > *{
    margin-left: 2rem;
}
.user_info > hr{
    margin-left: 0;
}

li{
    list-style-type: none;
}

.owns, .editor_perms{
    margin-left: 2em;
}

.owns{
    grid-area: user_owns;
}

.editor_perms{
    grid-area: user_edit_perm;
}

.owns > li, .editor_perms > li{
    padding-left: 1em;
}

hr{
    margin: 0 0 1em 0;
}
