.user_container{
    display: grid;
    grid-template-areas: 
            "user_name user_name"
            "user_owns user_edit_perm";
    
}

.user_info{
    grid-area: user_name;
    justify-self: left;
    padding: 1em 0 0 0;
    width: min-content;
    height: 5rem;
}

.user_info > img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.user_info > #text{
    position: relative;
    width: max-content;
    padding: 0.5em 2em 1em 2em;
    top: -100%;
    left: 0;
} 

li{
    list-style-type: none;
}

.owns, .editor_perms{
    margin-left: 2em;
}

.owns{
    grid-area: user_owns;
}

.editor_perms{
    grid-area: user_edit_perm;
}

.owns > li, .editor_perms > li{
    padding-left: 1em;
}

hr{
    margin: 0 0 1em 0;
}
