{% extends 'navigation/editables/editable.html' %}

{% block title%}Inventory View{% endblock %}

{% block links %}
<!-- jQuery Link -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename='inventory.css')}}">
{% endblock %}

{% block editable %}
    <!-- Inventory Container -->
    <div id="inventory_container">
        <h1 id="name">{{editable.name}}</h1>
        {{ super() }}
        <br>
        
        <div id="inventory">
            <div id="inventory_items">
                {% for itemLI in editable.items %}
                    <div class="item">
                            <a href="{{url_for('navi.item_page', item_id=itemLI.item.id)}}">
                                <img src="{{url_for('api.image_retrieve', image_id=itemLI.item.images[0].image_id)}}" data-editable_id="{{itemLI.id}}" alt="">
                            </a>
                            <p>Name: {{itemLI.item.name}}</p>
                            <p>Count: {{itemLI.count}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <br>

        <div id="description">
            <h1>Description</h1>
            {% autoescape false %}
            {{editable.description}}
            {% endautoescape %}
        </div>

    </div>
{% endblock%}

{% block edit_name %}
    {{editable.name}}
{% endblock%}

{% block script %}
    <script>
        $(function () {
            document.getElementById('edit_ref').href = "{{url_for('navi.inventory_edit', inventory_id = editable.id)}}"

            $('#delete').on('click', function(){
                $.ajax({
                    url: '/api/delete_editable',
                    method: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json',
                    data:JSON.stringify({
                        id: "{{editable.id}}"
                    })
                }).always(function (data) {
                    window.location.replace(`{{url_for('navi.index')}}`);
                });
            });
        });
    </script>
{% endblock %}

