<!doctype html>
<title>{% block title %}{% endblock %} - LoreMaster</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block script_tags %}{% endblock %}

{% block navbar %}
  <nav class="navbar">
    <h1><a href="{{url_for('navi.index')}}">LoreMaster</a></h1>
    {% if g.user %}
      <li><span><a href="{{url_for('navi.user_page', user_id=g.user.id)}}">{{ g.user.name }}</a></span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </nav>
{% endblock %}

<div class="content">
  <header class="header">
  {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</div>

{% block script %}{% endblock %}