<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tags" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: '/api/location_search',
          method:'POST',
          dataType: 'json',
          processData: false,
          contentType: 'application/json',
          data:JSON.stringify({
            search_type: "location",
            query: request.term
          }),
          success: function( data ) {
            response($.map( data, function(result){
              return {
                label:result.label,
                value:result.value,
              }
            }));
          }
        });
      },
      focus: function(event, ui) {
        event.preventDefault();
      },
      select: function(event, ui) {
        event.preventDefault();
        $('#tags').val(ui.item.label);
        $('#location_id').val(ui.item.value)
      },
      delay: 400
    });

    $('#log').on('click', () =>{
      console.log($('#location_id').val())
    });

  });
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
  <input id="location_id" hidden>
</div>
 
<button id="log">
  log
</button>
 
</body>
</html>