@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LoreMaster</h1>
    <p class="lead">Your home for character tracking and lore!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Characters</h2>
        <p>
            Click here to view all your characters, as well as all publically viewable characters!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("", "Sheets")">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Character</h2>
        <p>Click here to make a new character!</p>
        <p><a class="btn btn-default" href="@Url.Action("", "Sheets/New")">New &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Click here to make a new account!</p>
        <p><a class="btn btn-default" href="@Url.Action("", "Account/Register")">Sign Up &raquo;</a></p>
    </div>
</div>