.admin_container{
    display: grid;
    grid-template-areas: 
            "user_name user_name"
            "search search"
            "results results";

}

.user_container{
    grid-area: user_name;
    justify-self: center;
    padding: 1em 0 0 0;
    width: min-content;
    height: 5rem;
}

.user_info{
    height: 7rem;
}

.user_info > img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.user_info > #text{
    height: 100%;
    width: max-content;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1.5rem 0 1.5rem;
    top: -100%;
    left: 0;
} 

.search_menu{
    display: grid;
    grid-area: search;
    justify-content: center;
    padding-top: 4rem;
}

.ui-widget-tag #tags{
    padding: 0.202em 0.202em 0.202em 0.202em

}

.ui-widget-tag #search{
    display: inline;
    padding: 0.1em 0.1em 0.1em 0.1em
}

.public_characters{
    display: grid;
    grid-area: results;
    padding-top: 1rem;
    justify-content: center;
}