{% extends 'base.html' %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="reg_log_container">
  <form method="post" class="register">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="username">Email</label>
    <input name="email" id="email" type="email" required="required" />
    <label for="username">First Name</label>
    <input name="first_name" id="first_name" required>
    <label for="username">Last Name</label>
    <input name="last_name" id="last_name" required>
    <input type="submit" value="Register">
  </form>
</div>
{% endblock %}

{% block script %}
  <script>
  function InvalidEmail(textbox) {
    
    if (textbox.value === '') {
        textbox.setCustomValidity
              ('Entering an email-id is necessary!');
    } else if (textbox.validity.typeMismatch) {
        textbox.setCustomValidity
              ('Please enter an email address which is valid!');
    } else {
        textbox.setCustomValidity('');
    }

    return true;
  }
  </script>
{% endblock %}