{% extends 'base.html' %}

{% block content %}

<style>
    #create{
        margin: 2rem;
    }

    #create a:link, #create a:visited{
        color: black;
        text-decoration: none;
    }

    #create a{
        margin: 0 0 2rem 0;
    }
</style>

<div id="create">
    <a href="{{url_for('navi.image_creation')}}" id="image_creation"><h1>Create Image</h1></a>
    <a href="{{url_for('navi.character_creation')}}" id="character_creation"><h1>Create Character</h1></a>
    <a href="{{url_for('navi.familiar_creation')}}" id="familiar_creation"><h1>Create Familiar</h1></a>
    <a href="{{url_for('navi.location_creation')}}" id="location_creation"><h1>Create Location</h1></a>
    <a href="{{url_for('navi.item_creation')}}" id="item_creation"><h1>Create Item</h1></a>
    <a href="{{url_for('navi.inventory_creation')}}" id="inventory_creation"><h1>Create Inventory</h1></a>
    <a href="{{url_for('navi.guild_create')}}" id="guild_create"><h1>Create Guild</h1></a>
</div>
{% endblock %}