{% extends 'base.html' %}

{% block content %}

    {% block editable %}
    {% endblock %}

    {% if editor_perms %}
        <hr>
        <p>Editor Options</p>
        <div class="edit_options">
            <a id="edit_ref" href="">
                <button id="edit">
                    Edit {{editable.name}}
                </button>
            </a>

            <a id="delete_ref" href="">
                <button id="edit">
                    Delete {{editable.name}}
                </button>
            </a>
        </div>
    {% endif %}
{% endblock %}