{% extends 'base.html' %}

{% block content %}

    {% block editable %}

    {% block data %}
    {% endblock %}

    {% endblock %}

    {% if editor_perms %}
        <div class="edit_options">
            <hr>
            <p>Editor Options</p>
            <a id="edit_ref" href="">
                <button id="edit">
                    Edit {{editable.name}}
                </button>
            </a>

            <button id="delete">
                Delete {{editable.name}}
            </button>
        </div>
    {% endif %}
{% endblock %}