{% extends 'base.html' %}

{% block content %}

    {% block editable %}

    {% if editor_perms %}
        <div class="edit_options">
            <a id="edit_ref" href=""><button id="edit"><i class="fa-solid fa-pen-to-square fa-xl"></i></button></a>
            <button id="delete">
                <i class="fa-solid fa-trash-can fa-xl"></i>
            </button>
        </div>
    {% endif %}

    {% if admin %}
        <script type="text/javascript" src="{{url_for('static', filename='admin.js')}}"></script>

        <div class="ban_options">
            <button><p class="ban_button" data-url="/api/ban_user/{{editable.owner.id}}">⛔</p></button>
            <button><p class="unban_button" data-url="/api/unban_user/{{editable.owner.id}}">✔️</p></button>
        </div>
    {% endif %}

    {% block data %}
    {% endblock %}

    {% endblock %}
{% endblock %}