{% extends 'base.html' %}

{% block content %}
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>

    <hr>

    <div class="owns">
        <p>Owns</p>
        {% for element in user.owns %}
            {% if element.type == 'character' %}
                <a href="{{url_for('navi.character_page', character_id=element.editable_id)}}">Character: {{element.name}}</a>
            {% else %}
                <p>{{ element }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <hr>

    <div class="editor_perms">
        <p>Editor Perms</p>
        {% for element in user.editor_perms %}
            {% if element.type == 'character' %}
                <a href="{{url_for('navi.character_page', character_id=element.editable_id)}}">Character: {{element.name}}</a>
            {% else %}
                <p>{{ element }}</p>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}